<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 轮询时间 分钟为单位 -->
    <add key="LoopingTime" value="1"/>
    <!-- 回执目录  需要具有写的权限 -->
    <add key="ResponsePath" value="D:\temp\TCS"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultSqlDb" connectionString="Database=H_Web;Server=192.168.0.133;user id=sa;pwd=dbwork" providerName="System.Data.SqlClient"/>
    <add name="109db" connectionString="Database=H_Web;Server=192.168.0.133;user id=sa;pwd=dbwork" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
